.main {
  padding-left: 10px;
}
.form-field {
  padding: 8px;

}
.container{
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  width: 100%;
  min-height: 100vh;
}
.main{
  display: flex;
  flex-direction: column;
  padding: 1.25em;
  width: 85%;
  margin: 0 auto;
}
.assessment-section{
  display: flex;
  flex-direction: column;
  padding: 1.5em 2em;
  background-color: white;
  border-radius: 0.75em;
  border: 1px solid gainsboro;
}
.button{
  width: max-content;
  padding: 0.5em 1.1em;
}
.horizontal-line-break{
  width: 100%;
  height: 1px;
  background-color: gainsboro;
  margin: 1em 0.15em;
}
.icon-pointer {
  cursor: pointer;
}
.section-title{
  margin-bottom: 1em;
  font-size: 1.3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question, .question-number, .mark {
  display: inline-block;
}
.question {
  width: 70%;
  padding: 10px 20px;
}
.question-number, .mark {
  width: 10%;
  padding: 10px;
  text-align: center;
}
.part {
  text-align: center;
  font-size: 20px;
}
.bold {
  font-weight: bold;
}
@media only screen and (max-width: 1150px) {
  .question-number, .mark {
    width: 5%;
  }
}
@media only screen and (max-width: 550px) {
  .question-number, .mark {
    width: 2%;
    padding: 2px;
  }
  .question-number.bold {
    display: none;
  }
}
.btn {
  text-align: center;
}