<h2 mat-dialog-title>Upload Image</h2>
<mat-dialog-content>
<form [formGroup]="imageForm">
    <div class="form-group">
        <mat-label for="file">File</mat-label>&nbsp;
        <input 
            formControlName="file" type="file" 
            class="form-control" (change)="onFileChange($event)">
        <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
            <mat-error *ngIf="f.file.errors.required" style="font-size: small;">*File is required.</mat-error>
        </div><br><br>
        <img [src]="imageSrc" style="height: 10em; width:10em">
    </div>
</form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
</mat-dialog-actions>