<div class="container">
    <!--<div class="main" *ngIf="person!=null">-->
        <div class="main">
        <div class="personal-section">
            <h3 class="section-title">
                <span>Family Details</span>
                <span class="edit-icon">Edit</span>
            </h3>
            <div class="input-field">
                <div class="text-wrap">
                    <span class="label">Father Name</span>
                    <p>Name1</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Mother Name</span>
                    <p>Name2</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Guardian Name</span>
                    <p>Name3</p>
                </div>
            </div>
            <div class="input-field">
                <div class="text-wrap">
                    <span class="label">Father Contact Number</span>
                    <p>9999999999</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Mother Contact Number</span>
                    <p>8888888888</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Guardian Contact Number</span>
                    <p>7777777777</p>
                </div>
            </div>
            <div class="input-field">
                <div class="text-wrap">
                    <span class="label">Father Email</span>
                    <p>father@email.com</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Mother Email</span>
                    <p>mother@email.com</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Local Guardian Address</span>
                    <p></p>
                </div>
            </div>
            <div class="input-field">
                <div class="text-wrap">
                    <span class="label">Father Occupation</span>
                    <p>O1</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Mother Occupation</span>
                    <p>O2</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Parents Annual Income</span>
                    <p>O2</p>
                </div>
            </div>
            <div class="input-field">
                <div class="text-wrap">
                    <span class="label">Father Affilation</span>
                    <p>Affilation</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Mother Affilation</span>
                    <p>Affilation</p>
                </div>
                <div class="text-wrap">
                    <span class="label"></span>
                    <p></p>
                </div>
            </div>
            <div class="input-field">
                <div class="text-wrap">
                    <span class="label">Father Company Name</span>
                    <p>-</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Mother Company Name</span>
                    <p>-</p>
                </div>
                <div class="text-wrap">
                    <span class="label"></span>
                    <p></p>
                </div>
            </div>
        </div>
        <br>
    </div>
  </div>
  
  
  
  
  
  
  