<div class="container">
    <!--<div class="main" *ngIf="person!=null">-->
        <div class="main">
        <div class="profile-section" >
            <div class="profile-left">
                <div class="image-wrap">
                    <img src="../../../assets/back.jpg" class="profile-photo">
                    <span class="edit-photo" ></span>
                </div>
                <h2 class="student-name">{{student.First_Name}}</h2>
                <span class="register-no">{{student.Register_No}}</span>
                <span class="college">Department of Computer Technology</span>
                <span class="college">Madras Institute of Technology</span>
            </div>
            <div class="vertical-line-break"></div>
            <div class="profile-right">
                <h3 class="section-title">
                    <span>Profile</span>
                    <span class="edit-icon" (click)="onOpenModel()">Edit Profile</span>
                </h3>
                <div class="text-wrap">
                    <span class="label">Name</span>
                    <p>{{student.First_Name}}{{student.Middle_Name}} {{student.Last_Name}}</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Email Address</span>
                    <p><a>{{student.MailID}}</a></p>
                </div>
                <div class="text-wrap">
                    <span class="label">Contact</span>
                    <p><a>{{student.Primary_ContactNumber}}</a></p>
                </div>
            </div>
        </div>
        <br>
        <div class="personal-section">
            <h3 class="section-title">Personal Details</h3>
            <div class="input-field">
                <div class="text-wrap">
                <span class="label">First Name</span>
                <p>{{student.First_Name}}</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Last Name</span>
                    <p>{{student.Last_Name}}</p>
                </div>
            </div>
            <div class="input-field">
                <div class="text-wrap">
                    <span class="label">Date of Birth</span>
                    <p>{{student.DOB | date:'longDate'}}</p>
                </div>
                <!--<div class="text-wrap" *ngIf="gender != null">-->
                <div class="text-wrap">
                    <span class="label">Gender</span>
                  <p>{{filterGender().Ref_Name}}</p>
              </div>
            </div>
            <div class="input-field">
                <!--<div class="text-wrap" *ngIf="community != null">-->
                <div class="text-wrap">
                    <span class="label">Community</span>
                    <p>{{filterCommunity().Ref_Name}}</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Caste</span>
                    <p>{{student.Caste}}</p>
                </div>
            </div>
            <div class="input-field">
                <div class="text-wrap">
                    <span class="label">Blood Group</span>
                    <p>{{filterBloodGroup().Ref_Name}}</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Aadhar Card Number</span>
                    <p>{{student.Aadhar_Card}}</p>
                </div>
            </div>
            <div class="horizontal-line-break"></div>
            <h3 class="section-title">College Details</h3>
            <div class="input-field">
                <div class="text-wrap">
                    <span class="label">Residential Type</span>
                    <p>{{filterResidentialType().Ref_Name}}</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Hostel Block & Room No.</span>
                    <p>{{student.Hostel_Block_Room}}</p>
                </div>
            </div>
            <div class="input-field">
                <div class="text-wrap">
                    <span class="label">Faculty Advisor</span>
                    <p>{{student.FA}}</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Programme</span>
                    <p>{{filterProgramme().Ref_Name}}</p>
                </div>
            </div>
            <div class="input-field">
                <div class="text-wrap">
                    <span class="label">Branch</span>
                    <p>{{filterBranch().Ref_Name}}</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Registration</span>
                    <p>{{filterRegistrationMode().Ref_Name}}</p>
                </div>
            </div>
            <div class="input-field">
                <div class="text-wrap">
                    <span class="label">Cut-Off/GATE Score</span>
                    <p>{{student.GATE_Cutoff_Mark}}</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Date of Admission</span>
                    <p>{{student.Admission_Date | date:'MMMM yyyy'}}</p>
                </div>
            </div>
            <div class="input-field">
                <div class="text-wrap">
                    <span class="label">Admission Category</span>
                    <p>{{filterAdmissionCategory().Ref_Name}}</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Volunteer</span>
                    <p>YRC</p>
                </div>
            </div>
            <div class="input-field">
                <div class="text-wrap">
                    <span class="label">Scholarship Received</span>
                    <p>{{filterScholarshipReceived().Ref_Name}}</p>
                </div>
            </div>
            <div class="horizontal-line-break"></div>
            <h3 class="section-title">Contact Details</h3>
            <div class="input-field">
                <div class="text-wrap">
                    <span class="label">Email</span>
                    <p>{{student.MailID}}</p>
                </div>
            </div>
            <div class="input-field">
                <div class="text-wrap">
                    <span class="label">Primary Contact</span>
                    <p>{{student.Primary_ContactNumber}}</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Secondary Contact</span>
                    <p>{{student.Secondary_ContactNumber}}</p>
                </div>
            </div>
            <div class="horizontal-line-break"></div>
            <h3 class="section-title">Residential Details</h3>
            <div class="input-field">
                <div class="text-wrap">
                    <span class="label">Door Number / Street Name</span>
                    <p>{{student.Address_Line1}}</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Town / Area</span>
                    <p>{{student.Address_Line2}}</p>
                </div>
            </div>
            <div class="input-field">
                <div class="text-wrap">
                    <span class="label">City</span>
                    <p>{{student.Address_Line3}}</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Pin Code</span>
                    <p>{{student.Address_Line4}}</p>
              </div>
            </div>
  
        </div>
        <br>
    </div>
  </div>
  
  
  
  
  
  
  