<div class="container">
    <!--<div class="main" *ngIf="person!=null">-->
        <div class="main">
        <div class="profile-section" >
            <div class="profile-left">
                <div class="image-wrap">
                    <img src="../../../assets/back.jpg" class="profile-photo">
                    <span class="edit-photo" ></span>
                </div>
                <h2 class="student-name">Sivaganesh B</h2>
                <span class="profession">2018503557</span>
                <span class="college">Department of Computer Technology</span>
                <span class="college">Madras Institute of Technology</span>
            </div>
            <div class="vertical-line-break"></div>
            <div class="profile-right">
                <h3 class="section-title">
                    <span>Profile</span>
                    <span class="edit-icon" (click)="onOpenModel()">Edit Profile</span>
                </h3>
                <div class="text-wrap">
                    <span class="label">Name</span>
                    <p>Sivaganesh B</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Email Address</span>
                    <p><a>sivaganeshb193@gmail.com</a></p>
                </div>
                <div class="text-wrap">
                    <span class="label">Contact</span>
                    <p><a>8105101571</a></p>
                </div>
            </div>
        </div>
        <br>
        <div class="personal-section">
            <h3 class="section-title">Personal Details</h3>
            <div class="input-field">
                <div class="text-wrap">
                <span class="label">First Name</span>
                <p>Sivaganesh</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Last Name</span>
                    <p>B</p>
                </div>
            </div>
            <div class="input-field">
                <div class="text-wrap">
                    <span class="label">Date of Birth</span>
                    <p>Sunday, March 19, 2000</p>
                </div>
                <!--<div class="text-wrap" *ngIf="gender != null">-->
                <div class="text-wrap">
                    <span class="label">Gender</span>
                  <p>Male</p>
              </div>
            </div>
            <div class="input-field">
                <!--<div class="text-wrap" *ngIf="community != null">-->
                <div class="text-wrap">
                    <span class="label">Community</span>
                    <p>Community</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Caste</span>
                    <p>Caste</p>
                </div>
            </div>
            <div class="input-field">
                <div class="text-wrap">
                    <span class="label">Blood Group</span>
                    <p>O+</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Aadhar Card Number</span>
                    <p>999988887777</p>
                </div>
            </div>
            <div class="input-field">
                <div class="text-wrap">
                    <span class="label">Passport Number</span>
                    <p>ABC123DE45</p>
                </div>
                <div class="text-wrap">
                    <span class="label">PAN Card</span>
                    <p>AB122APPPA</p>
                </div>
            </div>
            <div class="horizontal-line-break"></div>
            <h3 class="section-title">College Details</h3>
            <div class="input-field">
                <div class="text-wrap">
                    <span class="label">Residential Type</span>
                    <p>Day Scholar</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Hostel Block & Room No.</span>
                    <p>-</p>
                </div>
            </div>
            <div class="input-field">
                <div class="text-wrap">
                    <span class="label">Faculty Advisor</span>
                    <p>Dr. S</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Programme</span>
                    <p>B.E</p>
                </div>
            </div>
            <div class="input-field">
                <div class="text-wrap">
                    <span class="label">Branch</span>
                    <p>CSE</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Registration</span>
                    <p>Full Time</p>
                </div>
            </div>
            <div class="input-field">
                <div class="text-wrap">
                    <span class="label">Cut-Off/GATE Score</span>
                    <p>197</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Date of Admission</span>
                    <p>August 2018</p>
                </div>
            </div>
            <div class="input-field">
                <div class="text-wrap">
                    <span class="label">Admission Category</span>
                    <p>General</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Volunteer</span>
                    <p>YRC</p>
                </div>
            </div>
            <div class="input-field">
                <div class="text-wrap">
                    <span class="label">Scholarship Received</span>
                    <p>-</p>
                </div>
            </div>
            <div class="horizontal-line-break"></div>
            <h3 class="section-title">Contact Details</h3>
            <div class="input-field">
                <div class="text-wrap">
                    <span class="label">Email</span>
                    <p>sivaganeshb193@gmail.com</p>
                </div>
            </div>
            <div class="input-field">
                <div class="text-wrap">
                    <span class="label">Primary Contact</span>
                    <p>8105101571</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Secondary Contact</span>
                    <p>8778280542</p>
                </div>
            </div>
            <div class="horizontal-line-break"></div>
            <h3 class="section-title">Residential Details</h3>
            <div class="input-field">
                <div class="text-wrap">
                    <span class="label">Door Number / Street Name</span>
                    <p>5/604</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Town / Area</span>
                    <p>Devi N</p>
                </div>
            </div>
            <div class="input-field">
                <div class="text-wrap">
                    <span class="label">City</span>
                    <p>Hosur</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Pin Code</span>
                    <p>635109</p>
              </div>
            </div>
  
        </div>
        <br>
    </div>
  </div>
  
  
  
  
  
  
  