
<body>
  <h1>Attendance 2019-2020</h1>
  <br>
<div class="tab">
  <button class="tablinks" >June</button>
  <button class="tablinks" >July</button>
  <button class="tablinks" >August</button>
  <button class="tablinks">September</button>
  <button class="tablinks" >October</button>
  <button class="tablinks" >November</button>
  <button class="tablinks" >December</button>
  <button class="tablinks" >January</button>
  <button class="tablinks" >February</button>
  <button class="tablinks" >March</button>
  <button class="tablinks" >April</button>
</div>
<div id="june" class="tabcontent">
<table>
  <thead>
  <tr class="headings">
    <th class="sno">S.<br>No.</th>
    <th style="column-width: 100px;">Name</th>
    <th>Register Number</th>
    <th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th><th>9</th><th>10</th><th>11</th><th>12</th><th>13</th><th>14</th><th>15</th><th>16</th><th>17</th><th>18</th><th>19</th><th>20</th><th>21</th><th>22</th><th>23</th><th>24</th><th>25</th><th>26</th><th>27</th><th>28</th><th>29</th><th>30</th><th>31</th>
  </tr></thead>
  <tbody>
  <tr>
    <td class="sno">1</td>
    <td>Bonnie Wright </td>
    <td>2019503540</td>
    <td></td><td></td><td></td><td>&#10004;</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>&#10004;</td><td></td><td>&#10004;</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
  </tr>
  <tr>
    <td class="sno">2</td>
    <td>Scarlett Johanson</td>
    <td>2019503019</td>
    <td></td><td></td><td></td><td></td><td>&#10004;</td><td></td><td></td><td>&#10008;</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>&#10004;</td><td></td><td></td><td>&#10008;</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
  </tr>
  <tr>
    <td class="sno">3</td>
    <td>Clint Barton</td>
    <td>2019503014</td>
    <td></td><td></td><td>&#10004;</td><td></td><td></td><td></td><td>&#10008;</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>&#10004;</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
  </tr>
  <tr>
    <td class="sno">4</td>
    <td>RDJ</td>
    <td>2019503565</td>
    <td></td><td></td><td></td><td></td><td>&#10004;</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>&#10008;</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
  </tr>
  <tr>
    <td class="sno">5</td>
    <td>Chris Evans</td>
    <td>2019503501</td>
    <td>&#10004;</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
  </tr>
  <tr>
    <td class="sno">6</td>
    <td>Sandra Bullock</td>
    <td>2019503022</td>
    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
  </tr>
  <tr>
    <td class="sno">7</td>
    <td>Ultron</td>
    <td>2019503540</td>
    <td></td><td>&#10004;</td><td></td><td>&#10008;</td><td></td><td></td><td>&#10004;</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>&#10008;</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
  </tr>
  <tr>
    <td class="sno">8</td>
    <td>Nick Fury</td>
    <td>2019503540</td>
    <td></td><td></td><td></td><td>&#10008;</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>&#10004;</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
  </tr>
</tbody>
</table>
</div>
<br>

</body>
