<h2 mat-dialog-title>Event Details</h2>

<mat-dialog-content>
  <form [formGroup]="EventForm">
    <mat-form-field class="form-field"> 
      <mat-label>Organisation</mat-label>
      <input matInput formControlName="Organisation">
      <mat-error *ngIf="EventForm.get('Organisation').invalid">Please Enter Valid Name</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Date</mat-label>
      <input matInput formControlName="Date" >
      <mat-error *ngIf="EventForm.get('Date').invalid">Please Enter Valid Name</mat-error>
    </mat-form-field><br>

    <mat-form-field class="form-field">
      <mat-label>Place</mat-label>
      <input matInput  formControlName="Place">
      <mat-error *ngIf="EventForm.get('Place').invalid">Please Enter Valid Mobile Number</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Prize</mat-label>
      <input matInput  formControlName="Prize">
      <mat-error *ngIf="EventForm.get('Prize').invalid">Please Enter Valid Mobile Number</mat-error>
    </mat-form-field><br>


</form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Close</button>
  <button mat-raised-button color="primary" [disabled]="EventForm.invalid" (click)="onSubmit()">Confirm</button>
</mat-dialog-actions>

