*,::after,::before{
  font-family: 'Source Sans Pro','Open Sans', serif;
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
}
.container{
  background-color: whitesmoke;
  display: flex;
  width: 100%;
  min-height: 100vh;
}
.main{
  background-color: white;
  width: 95%;
  padding: 2em;
  margin: 1em auto;
  border: 1px solid gainsboro;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
}
.quick-links{
  display: flex;
  align-items: center;
  margin: 0.5em 0;
}
.link, .disabled-link{
  text-decoration: none;
  color: #061c64;
  font-size: 0.975em;
  margin: 0 0.75em;
}
.link:first-of-type{
  margin-left: 0;
}
.slash{
  width: 0.5em;
  height: 0.5em;
  border-top: 1px solid black;
  border-left: 1px solid black;
  transform: rotate(135deg);
}
.link:hover{
  text-decoration: underline;
}
.point{
  width: 3em;
  height: 3em;
  background-image: url("../../../../assets/calendar.svg");
  background-position: center;
  background-size: 2.5em;
  background-repeat: no-repeat;
  margin-right: 0.75em;
  display: block;
}
@media only screen and (max-width:450px){
  .main{
      padding: 1em;
  }
}
table, td, th{
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
table {
  border-width: 2px;
}
td, th {
   height: 50px;
   width: 50px;
}
td {
  position: relative;
}
.date {
  position: absolute;
  top: 0;
  left: 2px;
  font-size: 15px;
  color: #025233;
}
.day {
   background-color: #78a5df;
}
.month {
  background-color: #4793f7;
}
.layout{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tables {
  width: 40%;
  margin: 20px;
}
@media only screen and (max-width:800px) {
  .layout {
    flex-direction: column;
    align-items: center;
  }
  .tables {
    width: auto;
    margin: 20px auto;
  } 
}