<div class="container">
    <div class="main">
         <div class="awards-section">
            <h3 class="section-title">
                <span>Awards</span>
            </h3>
            <table class="t-table">
                  <tr class="t-tr">
                         <th class="t-th" style="color:white;width:2%; background-color:DarkGreen;">
                           <span>S.No</span>
                         </th>
                         <th class="t-th" style="color:white;width:15%; background-color:DarkGreen;">
                           <span>Award Name</span>
                         </th>
                         <th class="t-th" style="color:white;width:15%; background-color:DarkGreen;">
                           <span>Organizer Name</span>
                         </th>
                         <th class="t-th" style="color:white;width:10%;background-color:DarkSlateGrey;">
                            <span>Award Type </span>
                         </th>
                         <th class="t-th" style="width:10%;color:white;background-color:DarkSlateGrey;">
                            <span>Award Category </span>
                         </th>
                         <th class="t-th" style="width:10%;color:white;background-color:Tomato;">
                            <span>Place</span>
                         </th>
                         <th class="t-th" style="width:10%;color:white;background-color:FireBrick;">
                            <span>Date</span>
                         </th>
                         <th class="t-th" style="width:10%;color:white;background-color:Blue;">
                            <span>Edit</span>
                         </th>
                         <th class="t-th" style="width:5%;color:white;background-color:Red;">
                           <span>Delete</span>
                        </th>
                  </tr>
                   <tr class="t-tr" *ngFor="let a of awards;let sno=index">
                         <td class="t-td" style="width:2%;text-align:center" >
                                 <span> {{sno+1}}</span>
                         </td>
                         <td class="t-td" style="width:15%;text-align:center" >
                                  <span>{{a.Award_Name}}</span>
                         </td>
                         <td class="t-td" style="width:15%;text-align:center" >
                                  <span>{{a.Organizer_Name}}</span>
                         </td>
                         <td class="t-td" style="width:10%; text-align:center">
                                 <span> {{filterawardType(a.Award_Type_Ref).Ref_Name}}</span>
                         </td>
                         <td class="t-td" style="width:10%;text-align:center ">
                                  <span>{{filterAwardCategory(a.Award_Category_Ref).Ref_Name}}</span>
                         </td>
                         <td class="t-td" style="width:10%;text-align:center ">
                                  <span>{{a.Place_of_Event}}</span>
                         </td>
                         <td class="t-td" style="width:10%;text-align:center ">
                                  <span>{{a.Award_Date | date:'dd-MM-yyyy'}}</span>
                         </td>
                         <td class="t-td" style="width:10%;text-align:center ">
                           <span class="edit-icon" (click)="editModel(a.Award_ID)">Edit</span>
                         </td>
                         <td class="t-td" style="width:5%;text-align:center">
                           <button class="del-icon" (click)="deleteModel(a.Award_ID)">Delete</button>
                        </td>
                   </tr>
           </table><br>
          <div style="margin-top:2rem;text-align:center;"><br>
           <button class="button" (click)="addModel()">Add Award</button>
          </div>
         </div>
    </div>
</div>
