<div class="container">
        <div class="main">
        <div class="personal-section">
            <h3 class="section-title">
                <span>Events Participated</span>
            </h3>
            <div class="event-card">
                <h3 style="margin-bottom:2rem">Event Name</h3>
                <div class="input-field">
                    <div class="text-wrap">
                        <span class="label">Organisation</span>
                        <p>host</p>
                    </div>
                    <div class="text-wrap">
                        <span class="label">Date</span>
                        <p>dddd</p>
                    </div>
                    <div class="text-wrap">
                        <span class="label">Place</span>
                        <p>yyyy</p>
                    </div>
                </div>
                <div class="input-field">
                    <div class="text-wrap">
                        <span class="label">Prize</span>
                        <p>9999999999</p>
                    </div>
                    <div class="text-wrap">
                        <span class="label"></span>
                    </div>
                    <div class="text-wrap">
                        <span class="label"></span>
                    </div>
                    <div class="text-wrap">
                        <span class="label"></span>
                    </div>
                    <div class="text-wrap">
                        <span class="label"></span>
                    </div>
            </div>
            <button class="edit--icon" (click)="onOpenModel()">Edit</button>
        </div>
        <br>
    </div>
  </div>
  
  
  
  
  
  
  
