<div class="container">
        <div class="main">
        <div class="personal-section">
            <h3 class="section-title">
                <span>Events Participated</span>
            </h3>
            <div class="event-card" *ngFor="let e of events">
                <h3 style="margin-bottom:2rem">{{e.Event_Name}}</h3>
                <div class="input-field">
                    <div class="text-wrap">
                        <span class="label">Organisation</span>
                        <p>{{e.Event_Organizer}}</p>
                    </div>
                    <div class="text-wrap">
                        <span class="label">Date</span>
                        <p>{{e.Event_Date | date:'longDate'}}</p>
                    </div>
                    <div class="text-wrap">
                        <span class="label">Prize</span>
                        <p>{{e.Prize_Won_Details}}</p>
                    </div>
                </div>
                <div class="input-field">
                    <div class="text-wrap">
                        <span class="label">Type</span>
                        <p>{{e.Event_Type_Ref}}</p>
                    </div>
                    <div class="text-wrap">
                        <span class="label">Participation</span>
                        <p>{{e.Participation_Type_Ref}}</p>
                    </div>
                    <div class="text-wrap">
                        <span class="label">Team Size</span>
                        <p>{{e.Team_Size}}</p>
                    </div>
                    
                </div>
            <button class="edit-icon" (click)="editModel()">Edit</button>
            <button class="edit-icon" (click)="deleteModel()">Delete</button>
        </div>
        <br>
        <button class="edit-icon" (click)="addModel()">Add Event</button>
    </div>
  </div>
  
  
  
  
  
  
  
